:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --fs-h1: 1.5em;
  --fs-h2: 1.2em;
  --fs-card: 0.8em;
  --ff-primary: Poppins, sans-serif;
  --br-primary: 8px;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-very-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--clr-very-dark-blue);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 200;
}

.title {
  font-weight: 600;
}

h2 {
  font-size: var(--fs-h2);
}

p {
  color: var(--clr-grayish-blue)
}

li {
  list-style: none;
}

.header {
  text-align: center;
  margin: auto;
  min-width: 320px;
  max-width: 500px;
}

.header p {
  padding-bottom: 4rem;
}

.header .title {
  padding-bottom: 1rem;
}

.card {
  background-color: var(--clr-white);
  border-radius: var(--br-primary);
  overflow: hidden;
  min-width: 320px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  box-shadow: 0 10px 20px hsla(215, 31%, 69%, 0.4);
}

.accent-border {
  width: auto;
  height: 3px;
  border: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  flex-grow: 1;
}

#first-card {
  grid-area: first-card;
}

#second-card {
  grid-area: second-card;
}

#third-card {
  grid-area: third-card;
}

#fourth-card {
  grid-area: fourth-card;
}

#supervisor {
  background-color: var(--clr-cyan);
}

#team-builder {
  background-color: var(--clr-red);
}

#karma {
  background-color: var(--clr-orange);
}

#calculator {
  background-color: var(--clr-blue);
}

.card img {
  height: 60px;
  object-fit: contain;
  margin-right: 0;
  margin-left: auto;
}

.card h2 {
  padding-bottom: 0.2rem;
}

.card p {
  flex-grow: 1;
  font-size: var(--fs-card);
  line-height: 1.4rem;
}

.card + .card {
  margin-top: 1.5rem;
}

@media (min-width: 1100px) {
  :root {
    --fs-h1: 2.3em;
  }

  body {
    height: 100vh;
    margin: auto;
  }

  .wrapper {
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem 2rem;
    grid-template-areas:
               ". second-card ."
      "first-card second-card fourth-card"
      "first-card third-card fourth-card"
               ". third-card .";
  }

  .card {
    height: 250px;
  }

  .card h2 {
    padding-bottom: 0.6rem;
  }

  .card + .card {
    margin-top: 0;
  }

  .accent-border {
    height: 5px;
  }
}
